.movies-list {
    display: flex;
    flex-flow: column;
    padding-bottom: 80px;
}

.movies-list__cadrs {
    flex-grow: 1;
    border-top: 1px solid #E8E8E8;
    padding-top: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 32px;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(270px, min-content));
    grid-template-rows: repeat(auto-fill, minmax(218px, 1fr));
}

.movie__bnt {
    padding: 0;
    margin: 50px auto 80px;
    border-radius: 6px;
    background: #F4F4F4;
    border: none;
    width: calc((100vw - 320px)/(360 - 320) * (320 - 240) + 240px);
    min-width: 240px;
    max-width: 320px;
    height: 36px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .movies-list {
        column-gap: 30px;
        row-gap: 36px;
    }
}

@media screen and (max-width: 550px) {

    .movies-list__cadrs {
        padding-top: 50px;
    }

    .movie__bnt {
        margin: 80px auto;
    }

    .movies-list {
        row-gap: 20px;
        padding-bottom: 60px;
    }
}