.movie {
    max-width: 270px;
    max-height: 218px;
    background-color: #FFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 9px;
}

.movie__img {
    width: 100%;
    max-width: 270px;
    height: 151px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    background: cover;
}

.movie__inner {
    display: flex;
    padding: 14px 12px;
    justify-content: space-between;
}

.movie__inner-name {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 206px;
}

.movie__inner-time {
    color: #A0A0A0;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.movie__inner-like {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.movie__inner-like_active {
    background-color: #2BE080;
}

.movie__inner-close {
    border: none;
    background: url(../../images/icon-delite-card.svg);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

@media screen and (min-width:758px) and (max-width:945px) {
    .movie {
        min-width: 339px;
        min-height: 257px;
    }

    .movie__img {
        width: 100%;
        height: 100%;
        max-width: 339px;
        max-height: 190px;
        background: cover center;
    }

}

@media screen and (max-width:480px) {
    .movie {
        min-width: 300px;
        min-height: 235px;
    }

    .movie__img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 168px;
        background: cover center;
    }

}