.portfolio {
    padding: 0 70px 125px;
    background: #FAFAFA;
}

.portfolio__title {
    width: fit-content;
    margin: 0;
    padding-bottom: 50px;
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__link {
    text-decoration: none;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0 19px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__link:hover{
    opacity: 0.7;
    transition: opacity 0.2s linear;
}


.portfolio__link:first-of-type {
    padding-top: 0;
}

.portfolio__link:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}


.portfolio__link-arrow {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2px;
}

@media screen and (max-width:768px) {
    .portfolio {
        padding: 0 50px 90px;
    }

    .portfolio__link-arrow {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
    
}

@media screen and (max-width:425px) {
    .portfolio {
        padding: 0 14px 70px;
    }

    .portfolio__title {
        padding-bottom: 40px;
        font-size: 14px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__link-arrow {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.72px;
    }
}