.search {
    background: #FAFAFA;
    display: flex;   
    padding: 70px 0;
}

.search__form {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    padding: 0 0 0 19px;

}

.search__input {
    flex-grow: 1;
    height: 22px;
    min-width: 182px;
    padding: 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: none;
    box-sizing: border-box;
}

.search__input:focus {
    background-color: rgba(182, 130, 250, 0.1);
    outline: rgba(182, 130, 250, 0.1) solid 2px;
    border-radius: 5px;
}

.search__btn {
    border: none;
    background-color: #4285f4;
    background-image: url('../../images/icon-find-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    margin-right: 19px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.search__btn:hover {
    opacity: 0.8;
}

.search__form::before {
    content: '';
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background-image: url('../../images/icon-seach.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.search__input-error {
    position: absolute;
    text-align: start;
    bottom: 4px;
    left: 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: red;
}

@media (min-width:320px) and (max-width:768px) {
    .search__input {
        width: calc((100vw - 320px)/(768 - 320) * (364 - 228) + 228px);
    }
}

@media screen and (max-width:550px) {
    .search {
        padding-bottom: 110px;
    }
    .search__control {
        display: none;
    }
    .search__input-error{
        left: 19px;
    }

    .search__form::before {
        content: none;
    }
}