.header-nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-nav_mobile {
    display: none;
}

.header-nav__btn-menu_mobile{
    display: none;
}

.header-nav__logo {
    display: block;
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    text-decoration: none;
    background: url(../../images/logo-header.svg);
}

.header-nav__link {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin: 0 16px 0 44px;
    padding: 0;
}

.header-nav__link_active{
    font-weight: 500;
}

.header-nav__link:last-of-type {
    margin: 0 16px 0 0px;
}

.header-nav__btn-profile {
    width: 96px;
    height: 28px;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid rgba(170, 170, 170, 0.2);
}

.header-nav__icon-profile {
    width: 12px;
    height: 14px;
    margin: 7px 0 7px 10px;
    padding: 0;
    border: none;
        background: url(../../images/icon-profile.svg);

}

.header-nav__text-profile {
    color: #000;
    margin: 7px 0 7px 7px;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.header-nav__btn-menu {
    width: 44px;
    height: 44px;
    border: none;
    background: url(../../images/icon-menu.svg);
}

@media screen and (max-width:768px) {
    .header-nav_desktop {
        display: none;
    }

    .header-nav__btn-profile_desktop {
        display: none;
    }

    .header-nav_mobile {
        display: flex;
    }
    .header-nav__btn-menu_mobile{
        display: flex;
    }   
}

@media screen and (max-width:425px) {}