.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 18px 70px;
}

.header__logo {
    display: block;
    background: url(../../images/logo-header.svg);
    margin: 0 44px 0 0;
    padding: 0;
    width: 38px;
    height: 38px;
    text-decoration: none
}

.header_main {
    background: #DDDEE3;
}

.header_profile {
    background: #FAFAFA;
}

@media screen and (max-width:768px) {
    .header {
        padding: 18px 30px;
    }
}

@media screen and (max-width:425px) {
    .header {
        padding: 18px 14px;
    }
}