.register {
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.register__main-block {
    height: 100dvh;
    margin: 70px 0;
    max-width: 396px;
    min-width: 260px;
    width: 100%;
}

.sign-form {
    padding: 0;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
}

.sign-form__text-name {
    color: #A0A0A0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0 0 5px 0;
}

.sign-form__input-name {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    border: none;
    background: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
    outline: none;
    margin: 0 0 6px 0;
}

.form__error {
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__btn {
    margin-top: 134px;
    max-width: 396px;
    height: 45px;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__btn:hover{
    opacity: 0.8;
    transition: opacity 0.2s linear;
}

.register__text {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__text-link {
    color: #3456F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.register__text-link:hover{
    opacity: 0.7;
    transition: opacity 0.2s linear;
}


@media screen and (max-width:768px) {
    .register__main-block {
        margin: 232px 0;
    }
}

@media screen and (max-width:540px) {
    .register__main-block {
        margin-top: 56px;
    }

    .register__text {
        font-size: 12px;
    }

    .register__text-link {
        font-size: 12px;
    }
}